body
{
    padding-left: 50px;
    padding-right: 50px;
    font-family: Verdana;
    margin-right: 200px;
    margin-left: 200px;
}

.fond
{
    background: url(../image/parDefaut.jpg);
    width: 100%;
}

h1
{
    text-align: center;
}

h1, h2, h3
{
    color: darkseagreen;
}

form
{
    padding: 10px;
}
/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
